.new-projects {
    padding: 0 80px;
}

.new-projects h1 {
    margin-top: 70px;

    font-weight: 400;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.other-projects {
    justify-content: center;
    margin: 40px 0 150px 0px;
}

.other-projects img {
    margin-left: 10px;
}

.project-title-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #434444;
}

.project-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}